# === JAVA GENERAL ===
*.class
*.log
*.jar
*.war
*.ear
*.iml

# === COMPILATION OUTPUT ===
/out/
!**/src/main/**/out/
!**/src/test/**/out/
target/
build/

# === INTELLIJ IDEA ===
.idea/
*.iws
*.ipr
*.iml

# === ECLIPSE ===
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

# === NETBEANS ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VISUAL STUDIO CODE ===
.vscode/

# === MACOS ===
.DS_Store

# === WINDOWS SYSTEM FILES ===
Thumbs.db
ehthumbs.db
Desktop.ini

# === ENVIRONMENT / CONFIG ===
.env

# === MAVEN ===
/.mvn/
!src/**/.mvn/
mvnw
mvnw.cmd
